@model PierresTreats.Models.Treat

@{
	ViewData["Title"] = "Edit Treat";
	ViewData["Footer"] = "Views / Treats / Edit Treat";
	Layout = "_Layout";
}

<h2>Edit Treat</h2>

<hr>

<h4>Edit this task: @Html.DisplayFor(model => model.TreatDescription)</h4>

@using (Html.BeginForm())
{
	@Html.HiddenFor(model => model.TreatId)

	@Html.LabelFor(model => model.TreatDescription)
	@Html.EditorFor(model => model.TreatDescription)

	@Html.Label("Select flavor")
	@Html.DropDownList("FlavorId")

	<input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>