@{
  Layout = "_Layout";
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
</div>

<hr>

<h1>Pierre's Treats</h1>

<p>@Html.ActionLink("See all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p>

<p>@Html.ActionLink("Treats / AddFlavor", "AddFlavor", "Treats")</p>
<p>@Html.ActionLink("Treats / Create", "Create", "Treats")</p>
<p>@Html.ActionLink("Treats / Delete", "Delete", "Treats")</p>
<p>@Html.ActionLink("Treats / Details", "Details", "Treats")</p>
<p>@Html.ActionLink("Treats / Edit", "Edit", "Treats")</p>

<p>@Html.ActionLink("Flavors / Create", "Create", "Flavors")</p>
<p>@Html.ActionLink("Flavors / Delete", "Delete", "Flavors")</p>
<p>@Html.ActionLink("Flavors / Details", "Details", "Flavors")</p>
<p>@Html.ActionLink("Flavors / Edit", "Edit", "Flavors")</p>
