@model PierresTreats.Models.Flavor

@{
	ViewData["Title"] = "Add Flavor";
	ViewData["Footer"] = "Views / Flavors / Details";
	Layout = "_Layout";
}

<h2>Category Details</h2>

<hr />

<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This category does not contain any treats</p>
}
else
{
  <h4>Treats the flavor contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Treat.TreatDescription</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to categories", "Index")</p>
<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.FlavorId })</p>
