@model PierresTreats.Models.Flavor

@{
	ViewData["Title"] = "Add Flavor";
	ViewData["Footer"] = "Views / Flavors / Edit";
	Layout = "_Layout";
}

<h2>Edit</h2>

<hr>

<h4>Edit this category: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.FlavorName)
  @Html.EditorFor(model => model.FlavorName)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>